.bg-custom-1 {
    background-color: #85144b;
  }
  
  .bg-custom-2 {
  background-image: linear-gradient(15deg, #09234e 0%, #7e57f2 100%);
  }

.imgbox {
    display: grid;
    object-fit: fill;
    height: 100%;
}
.center-fit {
    width: 1240px;
    height:520px;
    margin: auto;
}




.gear{
    max-width:100%;
    height:100%;
    /* background-image: linear-gradient(aqua ,rgb(84, 84, 245) ); */
    background-color: rgb(254, 247, 238);
}

@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.gear{
  display: flex;
  background: #000;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

/* .content {
  position: relative;
} */

.content h2 {
font-family: "Alegreya";
position:absolute;
top:4.9em;
height: 130px;
right:-1em;
  color: #fff;
  font-size: 6em;
  position: absolute;
  transform: translate(-50%, -50%);
}

.content h2:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px #03a9f4;
}

.content h2:nth-child(2) {
  color: #f7fcfe;
  animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      16% 44%,
      33% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}
@import url("https://fonts.googleapis.com/css?family=Raleway:900&display=swap");

body {
    margin: 0px;
}

@import url(https://fonts.googleapis.com/css?family=Khula:700);
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
body {
  background: #111;
}
.hidden {
  opacity:0;
}
.console-container {
 
  font-family:Khula;
  font-size:2em;
  position:absolute;
  color:white;
  top: 16.3em;
  right:3.5em;
}

